{% extends "base.html" %}
{% block content %}
<article>
    <header>
        <h1>{{ post.title }}</h1>
        <p><small>Uploaded on {{ post.human_date }}</small></p>
    </header>
    {% if post.thumbnail_url %}
    <img src="{{ post.thumbnail_url }}" alt="Thumbnail for {{ post.title }}" style="width: 100%; max-width: 600px; height: auto; border-radius: 8px; margin-bottom: 2rem;">
    {% endif %}
    
    <p>{{ post.description | nl2br }}</p>
    
    <a href="{{ post.telegram_link }}" role="button" class="contrast" target="_blank" rel="noopener noreferrer">Get File</a>
</article>
{% endblock %}